@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

html,
body {
    padding: 0;
    border: 0;
    margin: 0;
    background-color: #f6f6f6;
}

.title {
    font-size: 150px;
    font-weight: bolder;
    font-family: "Zen Kurenaido", sans-serif;
    text-align: center;
    padding: 70px 0 20px 0;
}

.subtitle {
    font-size: 20px;
    font-family: "Gruppo", cursive;
    text-align: center;
    padding: 0 0 30px 0;
}

.countries {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.countries a {
    width: 200px;
    height: 150px;
    background-color: black;
    border-radius: 10px;
    background-position: left center;
    background-size: 250px auto;
    margin: 10px;
    box-shadow: 5px 10px 18px #888888;
    text-decoration: none;
}

#ph-flag {
    background-image: url("../images/ph-flag.png");
}

#id-flag {
    background-image: url("../images/id-flag.png");
}

#sg-flag {
    background-image: url("../images/sg-flag.png");
}

#th-flag {
    background-image: url("../images/th-flag.png");
}

#my-flag {
    background-image: url("../images/my-flag.png");
}

.hint {
    color: #f6f6f6;
    background-color: black;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    font-family: "Gruppo", cursive;
    visibility: hidden;

    padding: 20px;
    margin: 10px;
}

.countries a:hover .hint {
    visibility: visible;
}

.footer {
    font-size: 30px;
    font-family: "Gruppo", cursive;
    text-align: center;
    padding-top: 100px;
    color: #d0d0d0;
}
